<body>
  <header>
    <h1>{{title}}</h1>
  </header>
  <h1 class="title">Welcome aboard</h1>
  <div class="container">
    <a href="/smashit">
      <div class="item">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top static" src="/public/images/break-laptop.jpg" alt="Card image cap" />
          <img class="card-img-top active" src="/public/images/break-laptop.gif" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title"><span>SMASH IT!!!</span></h5>
          </div>
        </div>
      </div>
    </a>
    <a href="/waterit">
      <div class="item">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top static" src="/public/images/water-on-boss.jpg" alt="Card image cap" />
          <img class="card-img-top active" src="/public/images/water-on-boss.gif" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title"><span>WATER IT!!!</span></h5>
          </div>
        </div>
      </div>
    </a>
    <a href="/aimit">
      <div class="item">
        <div class="card" style="width: 25rem;">
          <img class="card-img-top static" src="/public/images/target-boss.jpg" alt="Card image cap" />
          <img class="card-img-top active" src="/public/images/target-boss.gif" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title"><span>AIM IT!!!</span></h5>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div>
    <p class="subtitle">Choose which game you would like to play!</p>
  </div>

  <script src="/public/js/homepage.js"></script>

  <script src="/public/js/main.js"></script>
</body>