<h1 class="title justify-content-between d-flex">
    <span>Let's SMASH it!!!</span>
    <span>
      <label class="switch">
        <input type="checkbox" class="toggle_theme" checked>
        <span class="slider round"></span>
      </label>
    </span>
  </h1>
{{!-- <div style="display: flex; justify-content: center;">
    <img src="/public/images/Picture1.png" style="width: 50%;">
</div> --}}
<div style="display: flex; justify-content: center">
    <img class="bg-image main animated object-pos" src="/public/images/monitor.png" alt="">
    <div class="wrapper object-pos">
    
    <div class="drawing ui-corner-all animated">
        <canvas id="draw-refract"></canvas>
        <canvas id="draw-reflect"></canvas>
        <canvas id="draw-fractures"></canvas>
        <canvas id="draw-mainline"></canvas>
        <canvas id="draw-noise"></canvas>
        <canvas id="draw-debug" style="display: none;"></canvas>
        <div id="draw-picker"></div>
    </div>
    
    </div>
</div>
<div class="cursor">
    <img src="/public/images/hammer.png" alt="cursor" style="width: 20vw; z-index: 999">
</div>
<script src="/public/js/smashit.js"></script>
