<h1 class="title justify-content-between d-flex">
    <span>Let's WATER it!!!</span>
    <span>
      <label class="switch">
        <input type="checkbox" class="toggle_theme" checked>
        <span class="slider round"></span>
      </label>
    </span>
  </h1>
<div class="cursor">
</div>
<div class="flex-container">
    <div class="flex-child" id="glassSpace">
        <div id="glassOfWater" class="wateritcontainer">
            <div class="glass">
                <div class="water"></div>
            </div>
        </div>
    </div>
    <div class="flex-child screen">
        <div class="center">
            <div class="monitor">
                <div class="content">
                    <div class="screenwater"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/waterit.js"></script>