<h1 class="title">Let's WATER it!!!</h1>
{{!-- <div class="cursor" id="mousepointer">
</div>
<div id="glassSpace">

</div>
<div id="glassOfWater" class="wateritcontainer">
    <div class="glass">
        <div class="water"></div>
    </div>
</div> --}}
<div class="cursor">
</div>
<div class="flex-container">
    <div class="flex-child" id="glassSpace">
        <div id="glassOfWater" class="wateritcontainer">
            <div class="glass">
                <div class="water"></div>
            </div>
        </div>
    </div>
    <div class="flex-child screen">
        <div class="center">
            <div class="monitor">
                <div class="content">
                    <div class="screenwater"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/waterit.js"></script>