<h1 class="title">Let's WATER it!!!</h1>
<div class="cursor">
    {{!-- <img src="/public/images/glassOfWater.png" alt="cursor" style="width: 20vw; z-index: 999"> --}}
    <div class="glass">
        <div class="water"></div>
    </div>
</div>
<script src="/public/js/waterit.js"></script>