body {
  background: url(/public/images/home-background.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #0000006b;
  color: white;
  padding: 3% 0px 0px 0px;
}

.container {
  display: flex;
  margin-top: 50px;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.1);
  z-index: 1;
}

body {
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.title {
  width: 100%;
  text-align: center;
  background: #0000006b;
  padding: 1% 0px;
  color: white;
}

.object-pos {
  position: absolute;
  transform: translate(3px, 3px);
  top: 10%;
  left: 35%;
}

.wrapper {
  width: 800px;
  height: 600px;
  transform: translate(2%, 4%);
}
.btn {
  position: absolute;
  top: 615px;
  right: -8px;
  background: #000;
  border-bottom: 2px solid #fff;
}

.btn a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}
/* ------------------------------------------- *\
	Background Image
\* ------------------------------------------- */
.bg-image {
  display: block;
  position: absolute;
  width: 50%;
}
/* ------------------------------------------- *\
	Drawing
\* ------------------------------------------- */
.drawing {
  position: relative;
}
.drawing > * {
  position: absolute;
  top: 0;
  left: 0;
}

.cursor {
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;

  transition: transform 0.2s;
}

.glass {
  margin: 30px auto;
  height: 300px;
  width: 100px;
  position: relative;
  border-style: none solid solid solid;
  border-width: 10px;
  border-color: lightgray;
  border-radius: 10px;
}

.water {
  width: 100%;
  height: 90%;
  background-color: skyblue;
  position: absolute;
  bottom: 0;
}