body {
  background: url(/public/images/home-background.jpeg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

.card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #0000006b;
  color: white;
  padding: 3% 0px 0px 0px;
}

.container {
  display: flex;
  margin-top: 50px;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.1);
  z-index: 1;
}

body {
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.title {
  width: 100%;
  text-align: center;
  background: #0000006b;
  padding: 1% 20px;
  color: white;
}

.object-pos {
  position: absolute;
  transform: translate(3px, 3px);
  top: 10%;
  left: 35%;
}

.wrapper {
  width: 800px;
  height: 600px;
  transform: translate(2%, 4%);
}
.btn {
  position: absolute;
  top: 615px;
  right: -8px;
  background: #000;
  border-bottom: 2px solid #fff;
}

.btn a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}
/* ------------------------------------------- *\
	Background Image
\* ------------------------------------------- */
.bg-image {
  display: block;
  position: absolute;
  width: 50%;
}
/* ------------------------------------------- *\
	Drawing
\* ------------------------------------------- */
.drawing {
  position: relative;
}
.drawing > * {
  position: absolute;
  top: 0;
  left: 0;
}

.cursor {
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;

  transition: transform 0.2s;
}

.wateritcontainer {
  background: rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #bbb;
  border-top: 1px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 140px;
  height: 200px;
  position: relative;
}

.water {
  background-color: lightskyblue;
  background-position: top right;
  position: absolute;
  bottom: 0px;
  width: 138px;
  height: 0px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.flex-container {
  display: flex;
}

#glassSpace {
  flex: 5;
  margin-right: 20px;
  margin-top: 300px;
}

.screen {
  flex: 5;
}

.center {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.monitor {
  width: 650px;
  height: 400px;
  background: url("/public/images/xp_wallpaper.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 60%;
  border: 2px solid black;
  border-bottom: 30px solid black;
  border-radius: 10px;
}
.monitor:before {
  content: "";
  width: 70px;
  height: 60px;
  background: black;
  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: perspective(100px) translateX(-50%) rotateX(25deg) skewX(7deg);
  z-index: -1;
  transform-origin: bottom;
}
.monitor:after {
  content: "";
  width: 140px;
  height: 15px;
  background: black;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  z-index: -1;
  transform-origin: bottom;
}

.screenwater {
  margin-bottom: 35px;
  background-position: top right;
  background-color: #2196f3;
  position: absolute;
  bottom: 0px;
  width: 640px;
  height: 90%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: url("/public/images/xp_wallpaper.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% 60%;
  filter: url("#turbulence");
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
