body {
  background: url("/public/images/home-background.jpeg") no-repeat center top;
}

.card-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #0000006b;
  color: white;
  padding: 3% 0px 0px 0px;
}

.container {
  display: flex;
  margin-top: 50px;
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.1);
  z-index: 1;
}

body {
  overflow: hidden;
}

.item img {
  display: block;
  max-width: 100%;
}

.static {
  position: absolute;
  background: white;
}

.static:hover {
  opacity: 0;
}

.title {
  width: 100%;
  text-align: center;
  background: #0000006b;
  padding: 1% 0px;
  color: white;
}
